@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(/css/utilities.css);
@import url(/css/navbar.css);
@import url(/pages/components/Alerts/alerts.css);
@import url(/pages/components/Avatar/avatar.css);
@import url(/pages/components/Badge/badge.css);
@import url(/pages/components/Buttons/button.css);
@import url(/pages/components/Cards/cards.css);
@import url(/pages/components/Image/image.css);
@import url(/pages/components/Input/input.css);
@import url(/pages/components/Modal/modal.css);
@import url(/pages/components/Slider/slider.css);
@import url(/pages/components/Typography/typography.css);
@import url(/pages/components/Toast/toast.css);


:root{
    --primary-color: #2a3fb1;
    --primary-dark-color: #233ed3;
    --secondary-color: #D6D5F7;
    --secondary-color-dark:#9794e9;
    --sidebar-color:#bdbbe6;
    --sidebar-hover-color:#e9e1e1;
    --secondary-faded-color:#b9b7f0;
    --primary-text-color: #170E60;
    --secondary-text-color:#243D78;
    --tertiary-text-color: #FFFFFF;
    --light-blue-color:#79d1fa;
    --light-green-color:#36d69b;
    --medium-green-color:#2bb180;
    --light-red-color:#e92c2c;
    --dark-red-color:#db1919;
    --light-yellow-color:#fadc44;
    --medium-yellow-color:#eeca17;
    --light-gray-color:#64748b;
    --dark-gray-color:#566780;
    --extra-dark-gray-color:#323233;
    --light-font-color:#6B6969;
    --highlight-text-color:#f7e8e8;
    --solid-black-color:#000000;
}

.docspage-container {
    background-color: var(--secondary-color);
    position: relative;
    width: 100%;
    padding-top: 4.4rem;
    z-index: 1;
}

.docs-hero-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    gap: 1rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left:0;
    top: 0;
    bottom: 0;
    height: 100%;
    gap: 5px;
    padding: 6rem 2rem 2rem 2rem;
    overflow-y: auto;
    z-index: 2;
    background-color: var(--sidebar-color);
}

.sidebar-heading {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

.sidebar-list {
    width: 200px;
    display: flex;
    font-size: 1.1rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar-list a {
    color: var(--secondary-text-color);
    cursor: pointer;
}

.sidebar-list-item {
    padding: 10px 1rem;
    border-radius: 5px;
    transition: all 0.2s;
}

.sidebar-list-item:hover {
    background-color: var(--sidebar-hover-color);
}

.docs-main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 150px;
    gap: 1rem;
    padding: 2rem;
}

.docs-hero-header {
    margin-bottom: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.docs-hero-heading {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

.docs-hero-para {
    line-height: 1.4rem;
    padding-top: 0.5rem;
    color: var(--secondary-text-color);
}

.component-variants{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.5rem;
}

.component-varaint-heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-text-color);
}


.variant-item {
    background-color: var(--primary-text-color);
    color: var(--highlight-text-color);
    padding: 2px 4px;
    font-size: 0.8rem;
    border-radius: 4px;
}

.variant-specifier {
    color: var(--secondary-text-color);
    font-weight: 400;
}

.code-snippet {
    border-radius: 8px;
    font-size: 12px;
}

hr{
    height: 1px;
    background-color: var(--primary-text-color);
    border: none;
}