@import url(/css/main.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
}

.font-light{
    color:rgb(107, 105, 105);
    font-weight:300;
}

.strikethrough{
    text-decoration: line-through;
}