@import url(/css/main.css);

.img-responsive{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Round image styling */
.img-round{
    object-fit:cover;
    border-radius: 50%;
}

.img-xl{
    width: 20rem;
    height: 20rem;
}

.img-sm{
    width: 10rem;
    height: 10rem;
}

.img-lg{
    width: 15rem;
    height: 15rem;
}

/* Square image styling */
.img-square{
    object-fit: cover;
    border-radius: 2px;
}