<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Highlightjs-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/night-owl.min.css"
    integrity="sha512-i5X6Fdn/ZqvGSqPrdMa3FgcpXM/Nr6YccSKFYT93zljl/HZDEpvBbE5Pxp91eiWGccZLrL/LDQJd7fjTRYsVaA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/pages/components/Cards/cards.css"></link>
    <title>Linear UI | Cards</title>
</head>

<body>
    <header class="header header-fixed">
        <nav class="nav-container container">
            <div>
                <a href="/index.html">
                    <span class="brandname-title">Linear UI</span>
                </a>
                <span class="brandname-subtext">v1.0</span>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="/pages/components/Cards/cards.html">Docs</a>
                </li>
                <li>
                    <a href="https://github.com/pradipgharge">Github</a>
                </li>
                <li>
                    <a href="https://twitter.com/pradipgharge">Twitter</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="docspage-container ">
        <div class=" container">
            <aside class="sidebar">
                <div class="sidebar-heading">Get Started</div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a href="/pages/main.html">Installation</a>
                    </li>
                </ul>
                <div class="sidebar-heading">Components</div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Alerts/alerts.html">Alert</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Avatar/avatar.html">Avatar</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Badge/badge.html">Badge</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Buttons/button.html">Button</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Cards/cards.html">Card</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Image/image.html">Image</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Input/input.html">Input</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Lists/list.html">List</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Modal/modal.html">Modal</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Navigation/navigation.html">Navigation</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Slider/slider.html">Slider</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Typography/typography.html">Typography</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Toast/toast.html">Toast</a>
                    </li>
                </ul>
            </aside>
            <main class="docs-main-container">
                <div class="docs-hero-header">
                    <h1 class="docs-hero-heading">Card</h1>
                    <p class="docs-hero-para">
                        Cards are containers which can be of any shape, color and form. But in
                        general, they contain pictures, icons and some basic text information, such as title, user name
                        and location information.<br /><br />To use any card component add the class
                        <b>card</b>, followed by the variant class names.
                    </p>
                </div>
                <div class="component-variants">
                    <h3 class="component-varaint-heading">Basic Cards</h3>
                </div>
                <div class="cards-preview-container">
                    <div class="card card-basic">
                        <div class="card-header">
                            <img class="card-img" src="/Assets/Images/card-image-1.jpeg" alt="card image">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Apple</h5>
                            <small class="card-subtitle">Apple macbook air M1</small>
                        </div>
                    </div>

                    <div class="card card-basic">
                        <div class="card-header">
                            <img class="card-img" src="/Assets/Images/card-image-2.jpeg" alt="card image">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Football</h5>
                            <p class="card-para">
                                Football is a game in which two teams of 11 players, using any part of
                                their bodies except their hands and arms, try to maneuver the ball into the opposing
                                team's goal.
                            </p>
                        </div>
                    </div>

                    <div class="card card-basic">
                        <div class="card-header">
                            <img class="card-img" src="/Assets/Images/card-image-8.jpeg" alt="card image">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-para">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a class="btn btn-solid-primary">Button</a>
                        </div>
                    </div>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;div class="card card-basic"&gt;
                                    &lt;div class="card-header"&gt;
                                        &lt;img class="card-img" src="/Assets/Images/card-image-1.jpeg" alt="card image"&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-body"&gt;
                                        &lt;h5 class="card-title"&gt;Apple&lt;/h5&gt;
                                        &lt;small class="card-subtitle"&gt;Apple macbook air M1&lt;/small&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
            
                                &lt;div class="card card-basic"&gt;
                                    &lt;div class="card-header"&gt;
                                        &lt;img class="card-img" src="/Assets/Images/card-image-2.jpeg" alt="card image"&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-body"&gt;
                                        &lt;h5 class="card-title"&gt;Football&lt;/h5&gt;
                                        &lt;p class="card-para"&gt;
                                            Football is a game in which two teams of 11 players, using any part of
                                            their bodies except their hands and arms, try to maneuver the ball into the opposing
                                            team's goal.
                                        &lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
            
                                &lt;div class="card card-basic"&gt;
                                    &lt;div class="card-header"&gt;
                                        &lt;img class="card-img" src="/Assets/Images/card-image-8.jpeg" alt="card image"&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-body"&gt;
                                        &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
                                        &lt;p class="card-para"&gt;Some quick example text to build on the card title and make up the bulk
                                            of the card's content.&lt;/p&gt;
                                        &lt;a class="btn btn-solid-primary"&gt;Button&lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                        </code>
                    </pre>
                </div>

                <div class="component-variants">
                    <h3 class="component-varaint-heading">Vertical Card</h3>
                </div>
                <div class="cards-preview-container">
                    <div class="card card-vt">
                        <div class="card-header">
                            <img class="card-img" src="/Assets/Images/card-image-3.jpg" alt="card image">
                            <span class="btn-wishlist"><img src="/Assets/Icons/btn-wishlist.svg" alt="card icon"></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Apple</h5>
                            <small class="card-subtitle">Apple airpods</small>
                            <div class="card-pricing">
                                <h5>Rs. 1750</h5>
                                <h5 class="font-light strikethrough">Rs.3500</h5>
                                <h5 class="card-discount">(50% Off)</h5>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class=" btn btn-solid-primary">Buy Now</button>
                            <button class="btn btn-icon btn-solid-secondary">
                                <img class="btn-icon-img" src="/Assets/icons/btn-cart.svg" alt="icon">
                                <span>Add to cart</span>
                            </button>
                        </div>
                    </div>

                    <div class="card card-vt">
                        <div class="card-header">
                            <img class="card-img" src="/Assets/Images/card-image-3.jpg" alt="card image">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Apple</h5>
                            <small class="card-subtitle">Apple airpods</small>
                            <div class="card-pricing">
                                <h5>Rs. 1750</h5>
                                <h5 class="font-light strikethrough">Rs.3500</h5>
                                <h5 class="card-discount">(50% Off)</h5>
                                <span class="btn-wishlist"><img src="/Assets/Icons/btn-wishlist.svg"
                                        alt="card icon"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class=" btn btn-solid-primary">Buy Now</button>
                            <button class="btn btn-icon btn-solid-secondary">
                                <img class="btn-icon-img" src="/Assets/icons/btn-cart.svg" alt="icon">
                                <span>Add to cart</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;div class="card card-vt"&gt;
                                    &lt;div class="card-header"&gt;
                                        &lt;img class="card-img" src="/Assets/Images/card-image-3.jpg" alt="card image"&gt;
                                        &lt;span class="btn-wishlist"&gt;&lt;img src="/Assets/Icons/btn-wishlist.svg" alt="card icon"&gt;&lt;/span&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-body"&gt;
                                        &lt;h5 class="card-title"&gt;Apple&lt;/h5&gt;
                                        &lt;small class="card-subtitle"&gt;Apple airpods&lt;/small&gt;
                                        &lt;div class="card-pricing"&gt;
                                            &lt;h5&gt;Rs. 1750&lt;/h5&gt;
                                            &lt;h5 class="font-light strikethrough"&gt;Rs.3500&lt;/h5&gt;
                                            &lt;h5 class="card-discount"&gt;(50% Off)&lt;/h5&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-footer"&gt;
                                        &lt;button class=" btn btn-solid-primary"&gt;Buy Now&lt;/button&gt;
                                        &lt;button class="btn btn-icon btn-solid-secondary"&gt;
                                            &lt;img class="btn-icon-img" src="/Assets/icons/btn-cart.svg" alt="icon"&gt;
                                            &lt;span&gt;Add to cart&lt;/span&gt;
                                        &lt;/button&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
            
                                &lt;div class="card card-vt"&gt;
                                    &lt;div class="card-header"&gt;
                                        &lt;img class="card-img" src="/Assets/Images/card-image-3.jpg" alt="card image"&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-body"&gt;
                                        &lt;h5 class="card-title"&gt;Apple&lt;/h5&gt;
                                        &lt;small class="card-subtitle"&gt;Apple airpods&lt;/small&gt;
                                        &lt;div class="card-pricing"&gt;
                                            &lt;h5&gt;Rs. 1750&lt;/h5&gt;
                                            &lt;h5 class="font-light strikethrough"&gt;Rs.3500&lt;/h5&gt;
                                            &lt;h5 class="card-discount"&gt;(50% Off)&lt;/h5&gt;
                                            &lt;span class="btn-wishlist"&gt;&lt;img src="/Assets/Icons/btn-wishlist.svg" alt="card icon"&gt;&lt;/span&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-footer"&gt;
                                        &lt;button class=" btn btn-solid-primary"&gt;Buy Now&lt;/button&gt;
                                        &lt;button class="btn btn-icon btn-solid-secondary"&gt;
                                            &lt;img class="btn-icon-img" src="/Assets/icons/btn-cart.svg" alt="icon"&gt;
                                            &lt;span&gt;Add to cart&lt;/span&gt;
                                        &lt;/button&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            </code>
                    </pre>
                </div>

                <div class="component-variants">
                    <h3 class="component-varaint-heading">Horizontal Cards</h3>
                </div>
                <div class="cards-preview-container">
                    <div class="card-hz">
                        <div class="card-hz-header">
                            <img class="card-img" src="/Assets/Images/card-image-7.jpeg">
                        </div>
                        <div class="card-hz-body-container">
                            <div class="card-hz-body">
                                <h5 class="card-title">Apple</h5>
                                <p class="card-para">Apple watch series 7</p>
                                <small class="card-subtitle">Sold by: Unicorn Retailers</small>
                                <div class="card-pricing">
                                    <h5>Rs. 1750</h5>
                                    <h5 class="font-light strikethrough">Rs.3500</h5>
                                    <h5 class="card-discount">(50% Off)</h5>
                                </div>
                            </div>
                            <div class="card-hz-footer">
                                <button class=" btn btn-solid-primary">Buy Now</button>
                                <button class="btn btn-icon btn-solid-secondary">
                                    <img class="btn-icon-img" src="/Assets/icons/btn-cart.svg" alt="icon">
                                    <span>Add to cart</span>
                                </button>
                            </div>
                        </div>
                        <span class="btn-wishlist">
                            <img src="/Assets/Icons/btn-wishlist.svg" alt="card icon">
                        </span>
                    </div>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;div class="card-hz"&gt;
                                    &lt;div class="card-hz-header"&gt;
                                        &lt;img class="card-img" src="/Assets/Images/card-image-7.jpeg"&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-hz-body-container"&gt;
                                        &lt;div class="card-hz-body"&gt;
                                            &lt;h5 class="card-title"&gt;Apple&lt;/h5&gt;
                                            &lt;p class="card-para"&gt;Apple watch series 7&lt;/p&gt;
                                            &lt;small class="card-subtitle"&gt;Sold by: Unicorn Retailers&lt;/small&gt;
                                            &lt;div class="card-pricing"&gt;
                                                &lt;h5&gt;Rs. 1750&lt;/h5&gt;
                                                &lt;h5 class="font-light strikethrough"&gt;Rs.3500&lt;/h5&gt;
                                                &lt;h5 class="card-discount"&gt;(50% Off)&lt;/h5&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class="card-hz-footer"&gt;
                                            &lt;button class=" btn btn-solid-primary"&gt;Buy Now&lt;/button&gt;
                                            &lt;button class="btn btn-icon btn-solid-secondary"&gt;
                                                &lt;img class="btn-icon-img" src="/Assets/icons/btn-cart.svg" alt="icon"&gt;
                                                &lt;span&gt;Add to cart&lt;/span&gt;
                                            &lt;/button&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;span class="btn-wishlist"&gt;
                                        &lt;img src="/Assets/Icons/btn-wishlist.svg" alt="card icon"&gt;
                                    &lt;/span&gt;
                                &lt;/div&gt;
                            </code>
                    </pre>
                </div>
                <div class="component-variants">
                    <h3 class="component-varaint-heading">Text only Cards</h3>
                </div>
                <div class="cards-preview-container">
                    <div class="card card-txt-only">
                        <div class="card-body">
                            <h5 class="card-title">Javascript</h5>
                            <p class="card-para">JavaScript is the world's most popular programming language. It is a
                                lightweight, interpreted, or just-in-time compiled programming language with first-class
                                functions.
                            </p>
                        </div>
                    </div>

                    <div class="card card-txt-only">
                        <div class="card-body">
                            <h5 class="card-title">Card Title</h5>
                            <small class="card-subtitle">card subtitle</small>
                            <p class="card-para">This is just some randomly written text to fill up the card paragraph
                                area in this preview.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;div class="card card-txt-only"&gt;
                                    &lt;div class="card-body"&gt;
                                        &lt;h5 class="card-title"&gt;Javascript&lt;/h5&gt;
                                        &lt;p class="card-para"&gt;JavaScript is the world's most popular programming language. It is a
                                            lightweight, interpreted, or just-in-time compiled programming language with first-class
                                            functions.
                                        &lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
            
                                &lt;div class="card card-txt-only"&gt;
                                    &lt;div class="card-body"&gt;
                                        &lt;h5 class="card-title"&gt;Card Title&lt;/h5&gt;
                                        &lt;small class="card-subtitle"&gt;card subtitle&lt;/small&gt;
                                        &lt;p class="card-para"&gt;This is just some randomly written text to fill up the card paragraph
                                            area in this preview.
                                        &lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            </code>
                    </pre>
                </div>

                <div class="component-variants">
                    <h3 class="component-varaint-heading">Card with text overlay</h3>
                </div>
                <div class="cards-preview-container">
                    <div class="card card-overlay card-txt-only">
                        <img class="card-img" src="/Assets/Images/card-image-4.jpeg" alt="card image">
                        <div class="card-txt-overlay">
                            <h5 class="card-title">Cappadocia</h5>
                            <p class="card-para">
                                Cappadocia is a beautiful region in central Turkey famous for its fairytale scenery,
                                cave dwellings, & of course the hundreds of hot air balloons that soar in the sky during
                                sunrise each morning.
                            </p>
                        </div>
                    </div>

                    <div class="card card-vt card-overlay">
                        <div class="card-header">
                            <img class="card-img" src="/Assets/Images/card-image-3.jpg" alt="card image">
                            <span class="card-bdg">Sale</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Apple</h5>
                            <small class="card-subtitle">Apple airpods</small>
                            <div class="card-pricing">
                                <h5>Rs. 1750</h5>
                                <h5 class="font-light strikethrough">Rs.3500</h5>
                                <h5 class="card-discount">(50% Off)</h5>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class=" btn btn-solid-primary">Buy Now</button>
                            <button class="btn btn-icon btn-solid-secondary">
                                <img class="btn-icon-img" src="/Assets/icons/btn-cart.svg" alt="icon">
                                <span>Add to cart</span>
                            </button>
                        </div>
                        <div class="card-txt-overlay">Out of Stock</div>
                    </div>
                </div>
                <div>
                    <pre>
                        <code class="language-html code-snippet">
                            &lt;div class="card card-overlay card-txt-only"&gt;
                                &lt;img class="card-img" src="/Assets/Images/card-image-4.jpeg" alt="card image"&gt;
                                &lt;div class="card-txt-overlay"&gt;
                                    &lt;h5 class="card-title"&gt;Cappadocia&lt;/h5&gt;
                                    &lt;p class="card-para"&gt;
                                        Cappadocia is a beautiful region in central Turkey famous for its fairytale scenery,
                                        cave dwellings, & of course the hundreds of hot air balloons that soar in the sky during
                                        sunrise each morning.
                                    &lt;/p&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
        
                            &lt;div class="card card-vt card-overlay"&gt;
                                &lt;div class="card-header"&gt;
                                    &lt;img class="card-img" src="/Assets/Images/card-image-3.jpg" alt="card image"&gt;
                                    &lt;span class="card-bdg"&gt;Sale&lt;/span&gt;
                                &lt;/div&gt;
                                &lt;div class="card-body"&gt;
                                    &lt;h5 class="card-title"&gt;Apple&lt;/h5&gt;
                                    &lt;small class="card-subtitle"&gt;Apple airpods&lt;/small&gt;
                                    &lt;div class="card-pricing"&gt;
                                        &lt;h5&gt;Rs. 1750&lt;/h5&gt;
                                        &lt;h5 class="font-light strikethrough"&gt;Rs.3500&lt;/h5&gt;
                                        &lt;h5 class="card-discount"&gt;(50% Off)&lt;/h5&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="card-footer"&gt;
                                    &lt;button class=" btn btn-solid-primary"&gt;Buy Now&lt;/button&gt;
                                    &lt;button class="btn btn-icon btn-solid-secondary"&gt;
                                        &lt;img class="btn-icon-img" src="/Assets/icons/btn-cart.svg" alt="icon"&gt;
                                        &lt;span&gt;Add to cart&lt;/span&gt;
                                    &lt;/button&gt;
                                &lt;/div&gt;
                                &lt;div class="card-txt-overlay"&gt;Out of Stock&lt;/div&gt;
                            &lt;/div&gt;
                        </code>
                    </pre>
                </div>

                <div class="component-variants">
                    <h3 class="component-varaint-heading">Card with a Badge</h3>
                </div>
                <div class="cards-preview-container">
                    <div class="card card-vt">
                        <div class="card-header">
                            <img class="card-img" src="/Assets/Images/card-image-3.jpg" alt="card image">
                            <span class="card-bdg">New</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Apple</h5>
                            <small class="card-subtitle">Apple airpods</small>
                        </div>
                    </div>
                    <div class="card card-vt">
                        <div class="card-header">
                            <img class="card-img" src="/Assets/Images/card-image-3.jpg" alt="card image">
                            <span class="card-bdg">Sale</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Apple</h5>
                            <small class="card-subtitle">Apple airpods</small>
                            <div class="card-pricing">
                                <h5>Rs. 1750</h5>
                                <h5 class="font-light strikethrough">Rs.3500</h5>
                                <h5 class="card-discount">(50% Off)</h5>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class=" btn btn-solid-primary">Buy Now</button>
                            <button class="btn btn-icon btn-solid-secondary">
                                <img class="btn-icon-img" src="/Assets/icons/btn-cart.svg" alt="icon">
                                <span>Add to cart</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;div class="card card-vt"&gt;
                                    &lt;div class="card-header"&gt;
                                        &lt;img class="card-img" src="/Assets/Images/card-image-3.jpg" alt="card image"&gt;
                                        &lt;span class="card-bdg"&gt;New&lt;/span&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-body"&gt;
                                        &lt;h5 class="card-title"&gt;Apple&lt;/h5&gt;
                                        &lt;small class="card-subtitle"&gt;Apple airpods&lt;/small&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="card card-vt"&gt;
                                    &lt;div class="card-header"&gt;
                                        &lt;img class="card-img" src="/Assets/Images/card-image-3.jpg" alt="card image"&gt;
                                        &lt;span class="card-bdg"&gt;Sale&lt;/span&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-body"&gt;
                                        &lt;h5 class="card-title"&gt;Apple&lt;/h5&gt;
                                        &lt;small class="card-subtitle"&gt;Apple airpods&lt;/small&gt;
                                        &lt;div class="card-pricing"&gt;
                                            &lt;h5&gt;Rs. 1750&lt;/h5&gt;
                                            &lt;h5 class="font-light strikethrough"&gt;Rs.3500&lt;/h5&gt;
                                            &lt;h5 class="card-discount"&gt;(50% Off)&lt;/h5&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-footer"&gt;
                                        &lt;button class=" btn btn-solid-primary"&gt;Buy Now&lt;/button&gt;
                                        &lt;button class="btn btn-icon btn-solid-secondary"&gt;
                                            &lt;img class="btn-icon-img" src="/Assets/icons/btn-cart.svg" alt="icon"&gt;
                                            &lt;span&gt;Add to cart&lt;/span&gt;
                                        &lt;/button&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            </code>
                    </pre>
                </div>

                <div class="component-variants">
                    <h3 class="component-varaint-heading">Card with a dismiss</h3>
                </div>
                <div class="cards-preview-container">
                    <div class="card card-dismiss card-basic">
                        <div class="card-header">
                            <img class="card-img" src="/Assets/Images/card-image-6.jpeg" alt="card image">
                            <buttton class="btn-dismiss">
                                <img class="btn-icon-img" src="/Assets/Icons/btn-close.svg">
                            </buttton>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Northern Lights</h5>
                            <p class="card-para">
                                The northern lights, or the aurora borealis, are beautiful dancing waves of light that
                                have captivated people for millennia.
                            </p>
                        </div>
                    </div>

                    <div class="card card-dismiss card-vt">
                        <div class="card-header">
                            <img class="card-img" src="/Assets/Images/card-image-3.jpg" alt="card image">
                            <span class="card-bdg">Sale</span>
                            <buttton class="btn-dismiss">
                                <img class="btn-icon-img" src="/Assets/Icons/btn-close.svg">
                            </buttton>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Apple</h5>
                            <small class="card-subtitle">Apple airpods</small>
                            <div class="card-pricing">
                                <h5>Rs. 1750</h5>
                                <h5 class="font-light strikethrough">Rs.3500</h5>
                                <h5 class="card-discount">(50% Off)</h5>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class=" btn btn-solid-primary">Buy Now</button>
                            <button class="btn btn-icon btn-solid-secondary">
                                <img class="btn-icon-img" src="/Assets/icons/btn-cart.svg" alt="icon">
                                <span>Add to cart</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;div class="card card-dismiss card-basic"&gt;
                                    &lt;div class="card-header"&gt;
                                        &lt;img class="card-img" src="/Assets/Images/card-image-6.jpeg" alt="card image"&gt;
                                        &lt;span class="btn-dismiss"&gt;X&lt;/span&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-body"&gt;
                                        &lt;h5 class="card-title"&gt;Northern Lights&lt;/h5&gt;
                                        &lt;p class="card-para"&gt;
                                            The northern lights, or the aurora borealis, are beautiful dancing waves of light that
                                            have captivated people for millennia.
                                        &lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
            
                                &lt;div class="card card-dismiss card-vt"&gt;
                                    &lt;div class="card-header"&gt;
                                        &lt;img class="card-img" src="/Assets/Images/card-image-3.jpg" alt="card image"&gt;
                                        &lt;span class="card-bdg"&gt;Sale&lt;/span&gt;
                                        &lt;span class="btn-dismiss"&gt;X&lt;/span&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-body"&gt;
                                        &lt;h5 class="card-title"&gt;Apple&lt;/h5&gt;
                                        &lt;small class="card-subtitle"&gt;Apple airpods&lt;/small&gt;
                                        &lt;div class="card-pricing"&gt;
                                            &lt;h5&gt;Rs. 1750&lt;/h5&gt;
                                            &lt;h5 class="font-light strikethrough"&gt;Rs.3500&lt;/h5&gt;
                                            &lt;h5 class="card-discount"&gt;(50% Off)&lt;/h5&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;div class="card-footer"&gt;
                                        &lt;button class=" btn btn-solid-primary"&gt;Buy Now&lt;/button&gt;
                                        &lt;button class="btn btn-icon btn-solid-secondary"&gt;
                                            &lt;img class="btn-icon-img" src="/Assets/icons/btn-cart.svg" alt="icon"&gt;
                                            &lt;span&gt;Add to cart&lt;/span&gt;
                                        &lt;/button&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            </code>
                    </pre>
                </div>
            </main>
        </div>
    </section>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>