<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Highlightjs-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/night-owl.min.css"
        integrity="sha512-i5X6Fdn/ZqvGSqPrdMa3FgcpXM/Nr6YccSKFYT93zljl/HZDEpvBbE5Pxp91eiWGccZLrL/LDQJd7fjTRYsVaA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/pages/components/Badge/badge.css">
    <title>Linear UI | Badge</title>
</head>

<body>
    <header class="header header-fixed">
        <nav class="nav-container container">
            <div>
                <a href="/index.html">
                    <span class="brandname-title">Linear UI</span>
                </a>
                <span class="brandname-subtext">v1.0</span>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="/pages/components/Badge/badge.html">Docs</a>
                </li>
                <li>
                    <a href="https://github.com/pradipgharge">Github</a>
                </li>
                <li>
                    <a href="https://twitter.com/pradipgharge">Twitter</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="docspage-container ">
        <div class="container">
            <aside class="sidebar">
                <div class="sidebar-heading">Get Started</div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a href="#">Installation</a>
                    </li>
                </ul>
                <div class="sidebar-heading">Components</div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Alerts/alerts.html">Alert</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Avatar/avatar.html">Avatar</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Badge/badge.html">Badge</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Buttons/button.html">Button</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Cards/cards.html">Card</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Image/image.html">Image</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#">Input</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#">Modal</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#">Typography</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#">Toast</a>
                    </li>
                </ul>
            </aside>
            <main class="docs-main-container">
                <div class="docs-hero-header">
                    <h1 class="docs-hero-heading">Badge</h1>
                    <p class="docs-hero-para">Badges are used to highlight a user's status or an item's count for quick
                        recognition.<br /><br />To use any badge component add the class
                        <b>badge</b>, followed by the variant class names.
                    </p>
                </div>
                <div class="component-variants">
                    <h3 class="component-varaint-heading">Badge on avatars</h3>
                    <p class="variant-specifier">
                        Variants available:
                        <span class="variant-item">bd-xl</span>, <span class="variant-item">bd-lg</span>, <span
                            class="variant-item">bd-md</span> & <span class="variant-item">bd-sm</span>
                    </p>
                </div>
                <div class="badge-preview-container">
                    <div class="badge avatar bd-xl">
                        <img class="avatar-img" src="/Assets/images/Avatar-01.svg" alt="avatar">
                        <div class="bd-status bd-online"></div>
                    </div>
                    <div class="badge avatar bd-lg">
                        <img class="avatar-img" src="/Assets/images/Avatar-02.svg" alt="avatar">
                        <div class="bd-status bd-offline"></div>
                    </div>
                    <div class="badge avatar bd-md">
                        <img class="avatar-img" src="/Assets/images/Avatar-03.svg" alt="avatar">
                        <div class="bd-status bd-idle"></div>
                    </div>
                    <div class="badge avatar bd-sm">
                        <img class="avatar-img" src="/Assets/images/Avatar-04.svg" alt="avatar">
                        <div class="bd-status bd-dnd"></div>
                    </div>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;div class="badge avatar bd-xl" &gt;
                                    &lt;img class="avatar-img" src="/Assets/images/Avatar-01.svg" alt="avatar"&gt;
                                    &lt;div class="bd-status bd-online"&gt;&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="badge avatar bd-lg" &gt;
                                    &lt;img class="avatar-img" src="/Assets/images/Avatar-02.svg" alt="avatar"&gt;
                                    &lt;div class="bd-status bd-offline"&gt;&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="badge avatar bd-md" &gt;
                                    &lt;img class="avatar-img" src="/Assets/images/Avatar-03.svg" alt="avatar"&gt;
                                    &lt;div class="bd-status bd-idle"&gt;&lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="badge avatar bd-sm" &gt;
                                    &lt;img class="avatar-img" src="/Assets/images/Avatar-04.svg" alt="avatar"&gt;
                                    &lt;div class="bd-status bd-dnd"&gt;&lt;/div&gt;
                                &lt;/div&gt;   
                        </code>
                    </pre>
                </div>

                <div class="component-variants">
                    <h3 class="component-varaint-heading">Badge on icons</h3>
                    <p class="variant-specifier">
                        Variants available:
                        <span class="variant-item">bd-xl</span>, <span class="variant-item">bd-lg</span>, <span
                            class="variant-item">bd-md</span> & <span class="variant-item">bd-sm</span>
                    </p>
                </div>
                <div class="badge-preview-container">
                    <div class="badge bd-xl">
                        <img class="badge-icon" src="/Assets/icons//mail.svg" alt="icon">
                        <span class="bd-count">10</span>
                    </div>
                    <div class="badge bd-lg">
                        <img class="badge-icon " src="/Assets/icons/cart.svg" alt="icon">
                        <span class="bd-count">2</span>
                    </div>
                    <div class="badge bd-md">
                        <img class="badge-icon " src="/Assets/icons/heart.svg" alt="icon">
                        <span class="bd-count">5</span>
                    </div>
                    <div class="badge bd-sm">
                        <img class="badge-icon " src="/Assets/icons/bell.svg" alt="icon">
                        <span class="bd-count">7</span>
                    </div>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;div class="badge bd-xl"&gt;
                                    &lt;img class="badge-icon" src="/Assets/icons//mail.svg"&gt;
                                    &lt;span class="bd-count"&gt;10&lt;/span&gt;
                                &lt;/div&gt;
                                &lt;div class="badge bd-lg"&gt;
                                    &lt;img class="badge-icon " src="/Assets/icons/cart.svg"&gt;
                                    &lt;span class="bd-count"&gt;2&lt;/span&gt;
                                &lt;/div&gt;
                                &lt;div class="badge bd-md"&gt;
                                    &lt;img class="badge-icon " src="/Assets/icons/heart.svg"&gt;
                                    &lt;span class="bd-count"&gt;5&lt;/span&gt;
                                &lt;/div&gt;
                                &lt;div class="badge bd-sm"&gt;
                                    &lt;img class="badge-icon " src="/Assets/icons/bell.svg"&gt;
                                    &lt;span class="bd-count"&gt;7&lt;/span&gt;
                                &lt;/div&gt;
                                
                        </code>
                    </pre>
                </div>
            </main>
        </div>

    </section>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>

</body>

</html>