<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Highlightjs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/night-owl.min.css"
        integrity="sha512-i5X6Fdn/ZqvGSqPrdMa3FgcpXM/Nr6YccSKFYT93zljl/HZDEpvBbE5Pxp91eiWGccZLrL/LDQJd7fjTRYsVaA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/pages/components/Navigation/navigation.css">
    <title>Linear UI | Navigation</title>
    <script src="https://kit.fontawesome.com/6a1746558d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header header-fixed">
        <nav class="nav-container container">
            <div>
                <a href="/index.html">
                    <span class="brandname-title">Linear UI</span>
                </a>
                <span class="brandname-subtext">v1.0</span>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="/pages/components/Input/input.html">Docs</a>
                </li>
                <li>
                    <a href="https://github.com/pradipgharge">Github</a>
                </li>
                <li>
                    <a href="https://twitter.com/pradipgharge">Twitter</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="docspage-container ">
        <div class=" container">
            <aside class="sidebar">
                <div class="sidebar-heading">Get Started</div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a href="/pages/main.html">Installation</a>
                    </li>
                </ul>
                <div class="sidebar-heading">Components</div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Alerts/alerts.html">Alert</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Avatar/avatar.html">Avatar</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Badge/badge.html">Badge</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Buttons/button.html">Button</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Cards/cards.html">Card</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Grids/grids.html">Grid</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Image/image.html">Image</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Input/input.html">Input</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Lists/list.html">List</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Modal/modal.html">Modal</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Navigation/navigation.html">Navigation</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Rating/rating.html">Rating</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Slider/slider.html">Slider</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Typography/typography.html">Typography</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Toast/toast.html">Toast</a>
                    </li>
                </ul>
            </aside>
            <main class="docs-main-container">
                <div class="docs-hero-header">
                    <h1 class="docs-hero-heading">Navigation</h1>
                    <p class="docs-hero-para">
                        A navigation bar is has links to appropriate sections/pages in a website that helps readers in
                        traversing the online document.
                    </p>
                </div>
                <div class="component-variants">
                    <h3 class="component-varaint-heading">Simple navbar</h3>
                </div>
                <div class="navbar-preview-container">
                    <nav class="navbar-standard">
                        <a class="navbar-home">
                            <i class="fas fa-home" aria-hidden="true"></i>
                            <span>Home</span>
                        </a>
                        <ul class="navbar-basic-list">
                            <li class="navbar-item">
                                <a>
                                    <i class="fas fa-project-diagram" aria-hidden="true"></i>
                                    <span>Projects</span>
                                </a>
                            </li>
                            <li class="navbar-item">
                                <a>
                                    <i class="fas fa-blog" aria-hidden="true"></i>
                                    <span>Blogs</span>
                                </a>
                            </li>
                            <li class="navbar-item">
                                <a>
                                    <i class="fas fa-user" aria-hidden="true"></i>
                                    <span>About</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;nav class="navbar-basic"&gt;
                                    &lt;a class="navbar-home"&gt;
                                        &lt;img src="/Assets/Icons/btn-home.svg" alt="home icon"&gt;
                                        &lt;span&gt;Home&lt;/span&gt;
                                    &lt;/a&gt;
                                    &lt;ul class="navbar-basic-list"&gt;
                                        &lt;li class="navbar-item"&gt;
                                            &lt;a&gt;Projects&lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li class="navbar-item"&gt;
                                            &lt;a&gt;Blogs&lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li class="navbar-item"&gt;
                                            &lt;a&gt;About&lt;/a&gt;
                                        &lt;/li&gt;
                                    &lt;/ul&gt;
                                &lt;/nav&gt;
                            </code>
                    </pre>
                </div>

                <div class="component-variants">
                    <h3 class="component-varaint-heading">Navbar with search</h3>
                </div>
                <div class="navbar-preview-container">
                    <nav class="navbar-standard">
                        <div class="nav-left">
                            <a href="/" class="nav-logo">Logoname</a>
                            <div class="nav-searchbar">
                                <button class="btn-searchbar">
                                    <img src="/Assets/Icons/btn-search.svg" alt="search icon">
                                </button>
                                <input type="text" class="searchbar-input" placeholder="Search products">
                            </div>
                        </div>
                        <ul class="navbar-basic-list nav-right">
                            <li>
                                <a>Products</a>
                            </li>
                            <li>
                                <a>Wishlist</a>
                            </li>
                            <li>
                                <a>Cart</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;nav class="navbar-basic"&gt;
                                    &lt;div class="nav-left"&gt;
                                        &lt;span class="nav-logo"&gt;Logoname&lt;/span&gt;
                                        &lt;div class="nav-searchbar"&gt;
                                            &lt;button class="btn-searchbar"&gt;
                                                &lt;img src="/Assets/Icons/btn-search.svg" alt="search icon"&gt;
                                            &lt;/button&gt;
                                            &lt;input type="text" class="searchbar-input" placeholder="Search products"&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;ul class="navbar-basic-list nav-right"&gt;
                                        &lt;li&gt;
                                            &lt;a&gt;Products&lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;a&gt;Wishlist&lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;a&gt;Cart&lt;/a&gt;
                                        &lt;/li&gt;
                                    &lt;/ul&gt;
                                &lt;/nav&gt;
                            </code>
                    </pre>
                </div>

                <div class="component-variants">
                    <h3 class="component-varaint-heading">Navbar with Hamburger & Submenus</h3>
                </div>
                <div class="navbar-preview-container">
                    <div class="navbar-container">
                        <nav class="navbar-standard">
                            <div class="nav-left">
                                <i class="fas fa-bars ham-icon"></i>
                                <a href="/">Logoname</a>
                            </div>
                            <ul class="nav-right">
                                <li>
                                    <i class="fas fa-home" aria-hidden="true"></i>
                                    <span>Home</span>
                                </li>
                                <li>
                                    <i class="fas fa-user" aria-hidden="true"></i>
                                    <span>About</span>
                                </li>
                                <li>
                                    <i class="fas fa-blog" aria-hidden="true"></i>
                                    <span>Blogs</span>
                                </li>
                            </ul>
                        </nav>
                        <div class="drawer-container">
                            <div class="drawer-header">
                                <h3 class="drawer-title">Drawer Title</h3>
                                <h3 class="drawer-close">&times;</h3>
                            </div>
                            <div class="drawer-menu">
                                <a href="/">
                                    <div class="drawer-submenu-title">
                                        <i class="fa-solid fa-angle-right"></i>
                                        <span>Sub menu 1</span>
                                    </div>
                                </a>
                                <a href="/">
                                    <div class="drawer-submenu-title">
                                        <i class="fa-solid fa-angle-right"></i>
                                        <span>Sub menu 1</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <pre>
                        <code class="language-html code-snippet">
                            &lt;div class="navbar-container"&gt;
                                &lt;nav class="navbar-standard"&gt;
                                    &lt;div class="nav-left"&gt;
                                        &lt;i class="fas fa-bars ham-icon"&gt;&lt;/i&gt;
                                        &lt;a href="/"&gt;Logoname&lt;/a&gt;
                                    &lt;/div&gt;
                                    &lt;ul class="nav-right"&gt;
                                        &lt;li&gt;
                                            &lt;i class="fas fa-home" aria-hidden="true"&gt;&lt;/i&gt;
                                            &lt;span&gt;Home&lt;/span&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;i class="fas fa-user" aria-hidden="true"&gt;&lt;/i&gt;
                                            &lt;span&gt;About&lt;/span&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;i class="fas fa-blog" aria-hidden="true"&gt;&lt;/i&gt;
                                            &lt;span&gt;Blogs&lt;/span&gt;
                                        &lt;/li&gt;
                                    &lt;/ul&gt;
                                &lt;/nav&gt;
                                &lt;div class="drawer-container"&gt;
                                    &lt;div class="drawer-header"&gt;
                                        &lt;h3 class="drawer-title"&gt;Drawer Title&lt;/h3&gt;
                                        &lt;h3 class="drawer-close"&gt;&times;&lt;/h3&gt;
                                    &lt;/div&gt;
                                    &lt;div class="drawer-menu"&gt;
                                        &lt;a href="/"&gt;
                                            &lt;div class="drawer-submenu-title"&gt;
                                                &lt;i class="fa-solid fa-angle-right"&gt;&lt;/i&gt;
                                                &lt;span&gt;Sub menu 1&lt;/span&gt;
                                            &lt;/div&gt;
                                        &lt;/a&gt;
                                        &lt;a href="/"&gt;
                                            &lt;div class="drawer-submenu-title"&gt;
                                                &lt;i class="fa-solid fa-angle-right"&gt;&lt;/i&gt;
                                                &lt;span&gt;Sub menu 1&lt;/span&gt;
                                            &lt;/div&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        </code>
                    </pre>

                    <span>Javascript</span>
                    <pre>
                        <code class="javascript code-snippet">
                            const btnHamburger = document.querySelector(".ham-icon");
                            const drawer = document.querySelector(".drawer-container");
                            const btnClose = document.querySelector(".drawer-close");

                            btnHamburger.addEventListener("click",()=>{
                                drawer.classList.add("drawer-transition-on");
                                drawer.classList.remove("drawer-transition-off");
                            })

                            btnClose.addEventListener("click", ()=>{
                                drawer.classList.add("drawer-transition-off");
                                drawer.classList.remove("drawer-transition-on");
                            })
                        </code>
                    </pre>
                </div>
            </main>
        </div>
    </section>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
    <script src="./navigation.js"></script>
</body>

</html>