<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Highlightjs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/night-owl.min.css"
        integrity="sha512-i5X6Fdn/ZqvGSqPrdMa3FgcpXM/Nr6YccSKFYT93zljl/HZDEpvBbE5Pxp91eiWGccZLrL/LDQJd7fjTRYsVaA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="typography.css">
    <title>Linear UI| Typography</title>
</head>

<body>
    <header class="header header-fixed">
        <nav class="nav-container container">
            <div>
                <a href="/index.html">
                    <span class="brandname-title">Linear UI</span>
                </a>
                <span class="brandname-subtext">v1.0</span>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="/pages/components/Modal/modal.html">Docs</a>
                </li>
                <li>
                    <a href="https://github.com/pradipgharge">Github</a>
                </li>
                <li>
                    <a href="https://twitter.com/pradipgharge">Twitter</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="docspage-container ">
        <div class=" container">
            <aside class="sidebar">
                <div class="sidebar-heading">Get Started</div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a href="#">Installation</a>
                    </li>
                </ul>
                <div class="sidebar-heading">Components</div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Alerts/alerts.html">Alert</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Avatar/avatar.html">Avatar</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Badge/badge.html">Badge</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Buttons/button.html">Button</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Cards/cards.html">Card</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Image/image.html">Image</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Input/input.html">Input</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Modal/modal.html">Modal</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Typography/typography.html">Typography</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#">Toast</a>
                    </li>
                </ul>
            </aside>
            <main class="docs-main-container">
                <div class="docs-hero-header">
                    <h1 class="docs-hero-heading">Typography</h1>
                    <p class="docs-hero-para">
                        Typography is the use of type in a design. Typography seeks to create a greater meaning by
                        thoughtful and deliberate selection of fonts, size, color, layout, alignment, and other factors that affect the design of type on a page.
                    </p>
                </div>
                <div class="component-variants">
                    <h3 class="component-varaint-heading">Heading Text</h3>
                </div>
                <div class="typography-preview-container">
                    <h1>Biggest heading</h1>
                    <h2>Second biggest heading</h2>
                    <h3>Third biggest heading</h3>
                    <h4>Fourth biggest heading</h4>
                    <h5>Fifth biggest heading</h5>
                    <h6>Sixth biggest heading</h6>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;h1>Biggest heading&lt;/h1&gt;
                                &lt;h2&gt;Second biggest heading&lt;/h2&gt;
                                &lt;h3&gt;Third biggest heading&lt;/h3&gt;
                                &lt;h4&gt;Fourth biggest heading&lt;/h4&gt;
                                &lt;h5&gt;Fifth biggest heading&lt;/h5&gt;
                                &lt;h6&gt;Sixth biggest heading&lt;/h6&gt;
                            </code>
                    </pre>
                </div>

                <div class="component-variants">
                    <h3 class="component-varaint-heading">Paragraph Text</h3>
                </div>
                <div class="typography-preview-container">
                    <p class="para-lg"> Large paragraph</p>
                    <p class="para-rg"> Regular paragraph</p>
                    <p class="para-md"> Medium paragraph</p>
                    <p class="para-sm"> Small paragraph</p>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;p class="para-xl"&gt; Large paragraph&lt;/p&gt;
                                &lt;p class="para-lg"&gt; Regular paragraph&lt;/p&gt;
                                &lt;p class="para-md"&gt; Medium paragraph&lt;/p&gt;
                                &lt;p class="para-sm"&gt; Small paragraph&lt;/p&gt;
                            </code>
                    </pre>
                </div>

                <div class="component-variants">
                    <h3 class="component-varaint-heading">Alligned Text</h3>
                </div>
                <div class="typography-preview-container">
                    <h1 class="text-left">This heading is left aligned</h1>
                    <h2 class="text-center">This heading is center aligned</h2>
                    <h3 class="text-right">This heading is right aligned</h3>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;h1 class="text-left"&gt;This heading is left aligned&lt;/h1&gt;
                                &lt;h2 class="text-center"&gt;This heading is center aligned&lt;/h2&gt;
                                &lt;h3 class="text-right"&gt;This heading is right aligned&lt;/h3&gt;
                            </code>
                    </pre>
                </div>

                <div class="component-variants">
                    <h3 class="component-varaint-heading">Other type of Text</h3>
                </div>
                <div class="typography-preview-container">
                    <p class="text-bold">This is a bold text</p>
                    <p class="text-strikethrough">This is a strikethrough text</p>
                    <p class="text-light">This is a light weight text</p>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;p class="text-bold"&gt;This is a bold text&lt;/p&gt;
                                &lt;p class="text-strikethrough"&gt;This is a strikethrough text&lt;/p&gt;
                                &lt;p class="text-light"&gt;This is a light weight text&lt;/p&gt;
                            </code>
                    </pre>
                </div>
            </main>
        </div>
    </section>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>