<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Highlightjs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/night-owl.min.css"
    integrity="sha512-i5X6Fdn/ZqvGSqPrdMa3FgcpXM/Nr6YccSKFYT93zljl/HZDEpvBbE5Pxp91eiWGccZLrL/LDQJd7fjTRYsVaA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/pages/components/Modal/modal.css">
    <title>Linear UI | Modal</title>
</head>
<body>
    <header class="header header-fixed">
        <nav class="nav-container container">
            <div>
                <a href="/index.html">
                    <span class="brandname-title">Linear UI</span>
                </a>
                <span class="brandname-subtext">v1.0</span>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="/pages/components/Modal/modal.html">Docs</a>
                </li>
                <li>
                    <a href="https://github.com/pradipgharge">Github</a>
                </li>
                <li>
                    <a href="https://twitter.com/pradipgharge">Twitter</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="docspage-container ">
        <div class=" container">
            <aside class="sidebar">
                <div class="sidebar-heading">Get Started</div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a href="/pages/main.html">Installation</a>
                    </li>
                </ul>
                <div class="sidebar-heading">Components</div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Alerts/alerts.html">Alert</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Avatar/avatar.html">Avatar</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Badge/badge.html">Badge</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Buttons/button.html">Button</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Cards/cards.html">Card</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Grids/grids.html">Grid</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Image/image.html">Image</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Input/input.html">Input</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Lists/list.html">List</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Modal/modal.html">Modal</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Navigation/navigation.html">Navigation</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Slider/slider.html">Slider</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Typography/typography.html">Typography</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/pages/components/Toast/toast.html">Toast</a>
                    </li>
                </ul>
            </aside>
            <main class="docs-main-container">
                <div class="docs-hero-header">
                    <h1 class="docs-hero-heading">Modal</h1>
                    <p class="docs-hero-para">
                        A modal is a window that appears on top of a parent screen.It's called 'modal' because it creates a mode that disables the parent screen but keeps it visible. Users must interact with the modal to return to the main screen.<br/><br/>To use any modal element add the class <b>modal</b>, followed by the variant class names.
                    </p>
                </div>
                <div class="component-variants">
                    <h3 class="component-varaint-heading">Modal Example</h3>
                </div>
                <div class="modal-preview-container">
                    <div class="modal">
                        <div class="modal-header">
                            <h2 class="modal-heading">Modal Title</h2>
                            <buttton class="btn-dismiss">
                                <img class="btn-icon-img" src="/Assets/Icons/btn-close.svg">
                            </buttton>
                        </div>
                        <div class="modal-body">
                            <p class="modal-para">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-solid-primary">Shop Now</button>
                            <button class="btn btn-outline-secondary">Cancel</button>
                        </div>
                    </div>
                </div>
                <div>
                    <pre>
                            <code class="language-html code-snippet">
                                &lt;div class="modal-header"&gt;
                                    &lt;h2 class="modal-heading"&gt;Modal Title&lt;/h2&gt;
                                    &lt;buttton class="btn-dismiss"&gt;
                                        &lt;img class="btn-icon-img" src="/Assets/Icons/btn-close.svg"&gt;
                                    &lt;/buttton&gt;
                                &lt;/div&gt;
                                &lt;div class="modal-body"&gt;
                                    &lt;p class="modal-para"&gt;
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    &lt;/p&gt;
                                &lt;/div&gt;
                                &lt;div class="modal-footer"&gt;
                                    &lt;button class="btn btn-solid-primary"&gt;Shop Now&lt;/button&gt;
                                    &lt;button class="btn btn-outline-secondary"&gt;Cancel&lt;/button&gt;
                                &lt;/div&gt;
                            </code>
                    </pre>
                </div>
            </main>
        </div>
    </section>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>
</html>