@import url(/css/main.css);


.docspage-container{
    background-color: var(--secondary-color);
}

.docs-hero-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
}
.sidebar{
    flex-basis: 250px;
    display: flex;
    flex:1;
    flex-direction: column;
    height: 100vh;
    gap:5px;
    padding: 2rem ;
    background-color: var(--sidebar-color);
}

.sidebar-heading{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

.sidebar-list{
    display: flex;
    font-size: 1.1rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar-list a{
    color: var(--secondary-text-color);
    cursor:pointer;
}

.sidebar-list-item{
    padding: 10px 1rem;
    border-radius: 5px;
    transition: all 0.2s;
}

.sidebar-list-item:hover{
    background-color:var(--sidebar-hover-color);
}

.docs-main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;

}

.docs-hero-header{
    margin-bottom: 0.8rem;
}

.docs-hero-heading{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

.docs-hero-para{
    line-height: 1.4rem;
    padding-top: 0.5rem;
    color: var(--secondary-text-color);
}

.text-bold{
    font-weight: 600;
}

.component-varaint-heading{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--primary-text-color);
}

.variant-specifier{
    color: var(--secondary-text-color);
    font-weight: 400;
}
.variant-item{
    background-color:var(--highlight-text-color);
    padding: 2px;
    border-radius: 4px;
}
.component-preview{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid var(--secondary-faded-color);
    border-radius: 8px;
    padding: 1rem;
    justify-content: space-between;
}

.alert{
    display: flex;
    align-items: center;
    width: 70%;
    padding: 0.8rem 1rem;
    margin: 1rem auto;
    border-radius: 8px;
    font-size: 1.5rem;
    align-items: center;
    gap: 1rem;
}

.alert-info{
    background-color:var(--light-blue-color);
}

.alert-success{
    background-color:var(--light-green-color);
}

.alert-error{
    background-color: var(--light-red-color);
}

.alert-warning{
    background-color:var(--light-yellow-color);
}

.alert-text{
    font-size: 1rem;
    flex-grow: 1;
}

.close-btn{
    margin-left: auto;
    cursor: pointer;
    font-size: 1rem;
    background: none;
    border: none;
}

.code-snippet{
    border-radius: 8px;
}
